body {
    font-family: sans-serif;
    background-color: rgb(41, 38, 28);
  }
  

.game-window {
    position: relative;
    top: 0;
    left: 20%;
    height: 70%;
    width: 70%;
  }

.phaser-game {
   position: absolute;
   top: 20%;
   height:90%;  
  width: 70%;
  }
  
  header{
    font-size: 50px;
    color:rgb(199, 165, 54);
    position:absolute ;
    top: -10%;
  }
  
.information {
  position: absolute;
  background-color: #4CAF50;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 30px;
  color: rgb(0, 0, 0);
  width: 100%;
  top: 0%;
  right: 0%;
  height: 100%;
}


#leaderboard {
  background-color: #c5cf39;
  text-align:center;
  border-radius: 20px;
  position:relative;
  bottom: 30px;
  max-height: 40%;
  width: 40%;
  left: 30%
}

.bottombar {
  position: absolute;
  width: 95%;
  bottom: -10%;
  background-color: #252925;
  border-radius: 12px;
  color: rgb(44, 38, 38);
  height: 5%;
  padding: 15px 32px;
}

#inputname {
  background-color: #3d423d;
  width: 20%;
   border: none;
    position: absolute;
    background-color: #3d423d;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    bottom: 0%;
    left: 0%;
}
input {
  width: 90%;
}
.restartbutton {
    position: absolute;
    background-color: #3d423d;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 20%;
    bottom: 0%;
    left: 40%;
}

.pausebutton {
  position: absolute;
  background-color: #3d423d;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 20%;
  bottom: 0%;
  left: 80%;
}

button:hover {
  background-color: #4CAF50; 
  color: white;
}